<section id="mlsReport">
    <div class="container-fluid px-0">
        <div class="d-flex my-2 justify-content-between align-items-end">
            <div class="">
                <h6 class="placard-title fw-bold text-mute col d-inline">MLS Reports</h6>
            </div>
            
            <div  class="py-2 btn-group" role="group" >
                <button onclick="prepareMLSReportnterface()" id="pullMLSReportButton" class="btn btn-sm btn-secondary disabled">Load MLS Report</button>
            </div>
        </div>
    </div>
    <div class="placard p-3 rounded shadow">
        

        <div class="accordion" id="mlsReportBody">
            
        </div>

        
    </div>

    <!-- Button trigger modal -->
    
    <!-- Modal -->
    <div class="modal fade" id="pastReportDatePicker" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Select Report Date</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="" id="datePane">
                        
                        
                        <div class="container-fluid" >
                            <div class="row row-cols-4 g-2 align-items-center calendar" id="">
                                
                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-accent" data-bs-dismiss="modal" onclick="fetchPastReport()">Display Report</button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="deleteReportDatePicker" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Select Report Date to be Deleted</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="" id="">
    
    
                        <div class="container-fluid">
                            <div class="row row-cols-4 g-2 align-items-center calendar" id="">
    
                            </div>
                        </div>
    
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-accent" data-bs-dismiss="modal" onclick="deleteDR()">Delete
                        Report</button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="extractPastManifestDatePicker" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Select Extraction Date</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="" id="datePane">
                        <div class="container-fluid">
                            <div class="row row-cols-4 g-2 align-items-center calendar" id="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-accent" data-bs-dismiss="modal" onclick="extractPastManifest()">Extract Past Manifest</button>
                </div>
            </div>
        </div>
    </div>
    
</section>



