<section id="vehicleInformation">
<div class="container-fluid px-0">
    <div class="d-flex justify-content-between align-items-end">
        <div class="">
            <h6 class="placard-title text-mute col">VEHICLE INFO</h6>
        </div>
        <div class="py-2">
            <button class="btn btn-sm btn-secondary">Add Vehicle</button>
        </div>
       
    </div>
</div>
<div class="placard p-3 rounded shadow">

    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <td>#</td>
                <td>VIN</td>
                <td>FID</td>
                <td>WA</td>
                <td>DRIVER</td>
                <td>VEDR</td>
                <td>FDX%</td>
                <td>SIZE</td>
                <td>MAINT.</td>
                <td>LMM.</td>
                <td>DoT</td>
                <td>Lic. Exp.</td>
                <td>YEAR</td>
                <td>MAKE</td>
                <td>MODEL</td>
            </thead>
            <!-- Data -->
            <tr class="table-bordered">
                <td>1</td>
                <td>1FVACWDT9BDBD8086</td>
                <td>202302</td>
                <td>320</td>
                <td>Dwight</td>
                <td>VEDR S/N</td>
                <td>
                    <div class="progress bg-secondary">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 80%;" aria-valuenow="25"
                            aria-valuemin="0" aria-valuemax="100">80%</div>
                    </div>
                </td>
                <td>TRUCK</td>
                <td>
                   3
                </td>
                <td>162450</td>
                <td>09/30/22</td>
                <td>07/30/22</td>
                <td>2011</td>
                <td>Frieghtliner</td>
                <td>M2</td>
            </tr>
        </table>
    </div>
</div>
</section>