<section id="weeklyReport">
    <div class="container-fluid px-0">
        <div class="d-flex justify-content-between align-items-end">
            <div class="">
                <h6 class="placard-title fw-bold text-mute col d-inline">Weekly Report</h6>
                
                <!-- <h6 id="weeklyLastUpdated" class="placard-title text-mute col d-inline"></h6> -->
                <select id="weekSelect" class="form-select form-select-sm d-block mb-1" aria-label="Small select example">
                    <option selected>Select A Week</option>
                </select>
            </div>
            
            <div  class="py-2 btn-group" role="group" >
                
                <button onclick="pullWeeklyReport()" id="pullWeeklyButton" class="btn btn-sm btn-secondary disabled">Pull weekly Reports</button>
                <button type="button" onclick="stopPullingProcess()" class="btn btn-sm btn-outline-secondary"> X </button>
            </div>
        </div>
    </div>
    <div class="placard p-3 rounded shadow">
        <div class="modal fade" id="weeklyReportDetailModal" tabindex="-2" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="fs-5 fw-bold text-capitalize" id="weeklyReportDetailsHeader">
                            Username</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div id="" class="modal-body">
                        <table id="weeklyReportDetailModalTable" class="table table-hover">
                            <thead>
                                <tr>
                                    <td>BARCODE</td>
                                    <td>BRAND</td>
                                    <td>NAME</td>
                                    <td>STREET</td>
                                    <td>CITY</td>
                                    <td>STATE</td>
                                    <td>STATUS</td>
                                    <td>LAST EVENT</td>
                                </tr>
                            </thead>
                            <!-- Data -->
                            <tbody class="detailModalTableBody">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table id="weeklyReportDetails" class="table table-hover">
                <thead>
                    <tr>
                        <td> <span data="driverNumber"> IC# </span></td>
                        <td> <span data="name" onclick="sortWeeeklyBy(this)"> NAME </span></td>
                        <td>SAT</td>
                        <td>SUN</td>
                        <td>MON</td>
                        <td>TUE</td>
                        <td>WED</td>
                        <td>THU</td>
                        <td>FRI</td>
                        <td> <span data="total" onclick="sortWeeeklyBy(this)"> TOTAL </span></td>
                    </tr>
                </thead>
                <!-- Data -->
                <tbody>
                    <td id="weeklyReportMsg" class="d-none" colspan="10"><span class="text-danger opacity-75">
                        No Weekly Report Pulled,
                        Select a week and click "Pull Report".</td>
                </tbody>
                <tfoot id="weeklyReportDriverPlaceHolder" class="d-none border-0">
                    <tr class="placeholder-wave ">
                        <td colspan="10" class="opacity-75"><span class="placeholder col-12"> IC #</span></td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</section>