<section id="weeklyReport">
    <div class="container-fluid px-0">
        <div class="d-flex justify-content-between align-items-end">
            <div class="">
                <h6 class="placard-title fw-bold text-mute col d-inline">Weekly Report</h6>
                
                <h6 id="weeklyLastUpdated" class="placard-title text-mute col d-inline"></h6>
                <div class="form-check form-switch">
                    <label class="form-check-label" for="flexSwitchCheckDefault"> 10/14/2023 - 10/20/2023 </label>
                </div>
            </div>
            
            <div  class="py-2 btn-group" role="group" >
                
                <button onclick="pullReport()" id="pullWeeklyButton" class="btn btn-sm btn-secondary disabled">Pull weekly Reports</button>
                <button type="button" onclick="stopweeklyPullingProcess()" class="btn btn-sm btn-outline-secondary"> X </button>
            </div>
        </div>
    </div>
    <div class="placard p-3 rounded shadow">
        <div class="modal fade" id="weeklyReportDetailModal" tabindex="-2" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="fs-5 fw-bold text-capitalize" id="weeklyReportDetailsHeader">
                            Username</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div id="" class="modal-body">
                        <table id="weeklyReportDetailModalTable" class="table table-hover">
                            <thead>
                                <tr>
                                    <td>BARCODE</td>
                                    <td>BRAND</td>
                                    <td>NAME</td>
                                    <td>STREET</td>
                                    <td>CITY</td>
                                    <td>STATE</td>
                                    <td>STATUS</td>
                                    <td>LAST EVENT</td>
                                </tr>
                            </thead>
                            <!-- Data -->
                            <tbody class="detailModalTableBody">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table id="weeklyReportDetails" class="table table-hover">
                <thead>
                    <tr>
                        <td>IC #</td>
                        <td>NAME</td>
                        <td>SAT</td>
                        <td>SUN</td>
                        <td>MON</td>
                        <td>TUE</td>
                        <td>WED</td>
                        <td>THU</td>
                        <td>FRI</td>
                        <td>TOTAL</td>
                    </tr>
                </thead>
                <!-- Data -->
                <tbody>
                    <td id="sync-warning" class="d-none" colspan="10"><span class="text-danger opacity-75"
                            style="color: red;">Driver Manifest has not yet been Synchrosnized with the Ontrac Server,
                            Click "Pull Report" to Sync. [ <a class="link-primary">(<span id="weeklyReportDriverLength" class="" onclick="showUploadedDrivers()"></span>)</a> ]</span></td>
                </tbody>
                <tfoot id="weeklyReportDriverPlaceHolder" class="d-none border-0">
                    <tr class="placeholder-wave ">
                        <td colspan="10" class="opacity-75"><span class="placeholder col-12"> IC #</span></td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</section>